<app-header></app-header>

<div class="content" role="main">
</div>


<div style="display: inline-block; width: 100%; text-align: center;">
<mat-card style="width: 40%; margin: 0 auto;">
    <h2 class="text-center">{{buttonTitle}}</h2>
    <form>
        <div class="example-container">
            <mat-form-field appearance="fill" class="width-100" >
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" maxlength="15" name="FirstName" [(ngModel)]="data.f_name">
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name"  maxlength="15" name="LastName" [(ngModel)]="data.l_name">
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker3" [formControl]="serializedDate" [(ngModel)]="data.dob" name="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3>
                </mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="data.gender" name="gender">
                    <mat-option *ngFor="let gender of gender" [value]="gender.value">
                      {{gender.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number" maxlength="10" name="contact" [(ngModel)]="data.contact">
                <mat-hint>10 digits only</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street" maxlength="20" name="Street" [(ngModel)]="data.street">
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
                <mat-label>City</mat-label>
                <input matInput placeholder="City"  name="City" maxlength="10" [(ngModel)]="data.city"> 
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Pin</mat-label>
                <input matInput placeholder="Pin" maxlength="6"  name="Pin" [(ngModel)]="data.pin">
                <mat-hint>Max Length 6 characters</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
                <mat-label>State</mat-label>
                <mat-select [(ngModel)]="data.state" name="state">
                    <mat-option *ngFor="let state of state" [value]="state.value">
                      {{state.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="example-button-row text-center">
                <button mat-raised-button color="primary" class="right-m20" type="submit" (click)="addEmployee()">{{buttonTitle}}</button>
                <a routerLink="/admin" mat-raised-button color="warn">Cancel</a>
            </div>
        </div>
    </form>
</mat-card>
</div>