<app-header></app-header>

<div class="content" role="main">
	<!-- <a routerLink="/admin" routerLinkActive="active" mat-raised-button color="primary">Go to login page</a> -->
</div>


<mat-grid-list cols="3">
	<mat-grid-tile></mat-grid-tile>
	<mat-grid-tile>
		<mat-card>
			<h2 class="text-center">LOGIN</h2>
			<form>
				<div class="example-container">
					<mat-form-field appearance="fill" class="width-100">
						<mat-label>Username</mat-label>
						<input matInput placeholder="Login ID" [(ngModel)]="username" name="username">
					</mat-form-field>
					<mat-form-field appearance="fill" class="width-100">
						<mat-label>Enter your password</mat-label>
						<input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
						<a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide">
							<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</a>
					</mat-form-field>
					<div class="example-button-row text-center">
						<button mat-raised-button color="primary" (click)="login()" type="submit">Login</button>
					</div>
				</div>
			</form>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile></mat-grid-tile>
</mat-grid-list>