<app-header></app-header>

<div class="content" role="main">
</div>

<h2 class="text-center">Welcome Nency! Enjoy our bank services.</h2>

<mat-card style="width: 40%; margin: 0 auto;">
    
    <div>
        <h2 mat-dialog-title><u>Your Details</u></h2>
        <p><b>First Name : </b>John1</p>
        <p><b>Last Name : </b>Smith1</p>
        <p><b>Date of Birth : </b>12/1/2001</p>
        <p><b>Gender : </b>Male</p>
        <p><b>Address : </b>12, york road, Hamilnton, US, 458265</p>
    </div>
    <h2 mat-dialog-title><u>Your Payment details</u></h2>
    <h2 mat-dialog-title><u>Apply Additional Service</u></h2>
</mat-card>