<app-header></app-header>

<div class="content" role="main">


</div>
<div class="custom-container">
	<h1>Welcome to Debitcard Panel</h1>
	<div class="example-button-row bottom-p20">
		<a routerLink="/employee/AddDebitcard" routerLinkActive="active" mat-raised-button color="primary">Add new Debitcard</a>
	</div>

	<div class="example-button-row bottom-p20">

	</div>

	<div class="example-container">
		<mat-form-field appearance="fill">
			<mat-label>Search by account no</mat-label>
			<input matInput placeholder="Search by account no" name="searchString" [(ngModel)]="searchString">
		</mat-form-field>
		<a mat-raised-button color="accent" class="right-l20" (click)="searchCard()">Search</a>
	</div>
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" margin>
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let element">
					<button mat-icon-button color="warn" aria-label="Example icon button with a delete icon"
						(click)="deleteData(element.debit_id)">
						<mat-icon>delete</mat-icon>
					</button>
					<a mat-icon-button color="primary" aria-label="Example icon button with a edit icon"
					[routerLink]="['/employee/DebitcardDetail',element.debit_id]">
						<mat-icon>edit</mat-icon>
					</a>
				</td>
			</ng-container>

			<ng-container matColumnDef="debit_id">
				<th mat-header-cell *matHeaderCellDef> Debit card ID </th>
				<td mat-cell *matCellDef="let element"> {{element.debit_id}} </td>
			</ng-container>

			<ng-container matColumnDef="holder_name">
				<th mat-header-cell *matHeaderCellDef> Holder Name </th>
				<td mat-cell *matCellDef="let element"> {{element.holder_name}} </td>
			</ng-container>

			<ng-container matColumnDef="debit_no">
				<th mat-header-cell *matHeaderCellDef> Debit Card No </th>
				<td mat-cell *matCellDef="let element"> {{element.debit_no}} </td>
			</ng-container>

			<ng-container matColumnDef="exp_date">
				<th mat-header-cell *matHeaderCellDef> Expiry Date </th>
				<td mat-cell *matCellDef="let element"> {{element.exp_date}} </td>
			</ng-container>

			<ng-container matColumnDef="acc_id">
				<th mat-header-cell *matHeaderCellDef> Account NO </th>
				<td mat-cell *matCellDef="let element"> {{element.acc_no}} </td>
			</ng-container>



			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
	</div>
</div>