<app-header></app-header>

<div class="content" role="main">


</div>
<div class="custom-container">
	<h1>Welcome to Employee Panel</h1>
	<div class="example-button-row bottom-p20">
		<a routerLink="/addCustomer" routerLinkActive="active" mat-raised-button color="primary" class="right-m20">Add new Customer</a>
		<a routerLink="/employee/AccountPanel" routerLinkActive="active" mat-raised-button color="primary" class="right-m20">All Accounts</a>
		<a routerLink="/employee/LoanAccountPanel" routerLinkActive="active" mat-raised-button color="primary" class="right-m20">All Loan Accounts</a>
		<a routerLink="/employee/DebitcardPanel" routerLinkActive="active" mat-raised-button color="primary" class="right-m20">All Debit cards </a>
		<a routerLink="/employee/CreditcardPanel" routerLinkActive="active" mat-raised-button color="primary" class="right-m20">All Credit cards</a>
	</div>

	<div class="example-button-row bottom-p20">

	</div>

	<div class="example-container">
		<h2><u>List of Customers</u></h2>
		<form>
			<mat-form-field appearance="fill">
				<mat-label>Search by Customer name</mat-label>
				<input matInput placeholder="Search by Customer name" name="searchString" [(ngModel)]="searchString">
			</mat-form-field>
			<a mat-raised-button color="accent" class="right-l20" (click)="searchCustomer()">Search</a>
		</form>
	</div>
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" margin>
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let element">
					<button mat-icon-button color="warn" aria-label="Example icon button with a delete icon"
						(click)="deleteData(element.cust_id)">
						<mat-icon>delete</mat-icon>
					</button>
					<a mat-icon-button color="primary" aria-label="Example icon button with a edit icon"
					[routerLink]="['/customerDetail',element.cust_id]">
						<mat-icon>edit</mat-icon>
					</a>
				</td>
			</ng-container>

			<ng-container matColumnDef="cust_id">
				<th mat-header-cell *matHeaderCellDef> Customer ID </th>
				<td mat-cell *matCellDef="let element"> {{element.cust_id}} </td>
			</ng-container>

			<ng-container matColumnDef="first_name">
				<th mat-header-cell *matHeaderCellDef> First Name </th>
				<td mat-cell *matCellDef="let element"> {{element.f_name}} </td>
			</ng-container>

			<ng-container matColumnDef="last_name">
				<th mat-header-cell *matHeaderCellDef> Last Name </th>
				<td mat-cell *matCellDef="let element"> {{element.l_name}} </td>
			</ng-container>

			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef> Email </th>
				<td mat-cell *matCellDef="let element"> {{element.email}} </td>
			</ng-container>

			<ng-container matColumnDef="pan_no">
				<th mat-header-cell *matHeaderCellDef> Pan No </th>
				<td mat-cell *matCellDef="let element"> {{element.pan_no}} </td>
			</ng-container>

			<ng-container matColumnDef="dob">
				<th mat-header-cell *matHeaderCellDef> Date of Birth </th>
				<td mat-cell *matCellDef="let element"> {{element.dob}} </td>
			</ng-container>

			<ng-container matColumnDef="gender">
				<th mat-header-cell *matHeaderCellDef> Gender </th>
				<td mat-cell *matCellDef="let element"> {{element.gender}} </td>
			</ng-container>

			<ng-container matColumnDef="contact">
				<th mat-header-cell *matHeaderCellDef> Contact </th>
				<td mat-cell *matCellDef="let element"> {{element.contact}} </td>
			</ng-container>

			<ng-container matColumnDef="address">
				<th mat-header-cell *matHeaderCellDef> Address </th>
				<td mat-cell *matCellDef="let element"> {{element.address}} </td>
			</ng-container>



			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
	</div>
</div>